@inject IJSRuntime JS
@implements IDisposable

<nav class="system-panel">
    <NavLink href="/" class="no-cursor"><img src="https://raw.githubusercontent.com/vvgonline/vvgonline/d6ce91fa38831bf3009b2070a2c9a0f323faa8f8/public/logo-2025.svg"
        alt="VVG ONLINE" class="vvg-logo-nav me-2"><span class="text-accent">&nbsp;VVG_ONLINE</span></NavLink>
    <NavLink href="/Services" class="no-cursor"><i class="bi bi-cpu me-2"></i><span class="text-light">SERVICES</span></NavLink>
    <NavLink href="/About" class="no-cursor"><i class="bi bi-info-circle me-2"></i><span class="text-light">ABOUT</span></NavLink>
    <NavLink href="/Blog" class="no-cursor"><i class="bi bi-newspaper me-2"></i><span
            class="text-light">INSIGHTS</span></NavLink>
    <NavLink href="/Contact" class="no-cursor"><i class="bi bi-terminal me-2"></i><span class="text-light">CONTACT</span></NavLink>
    <div class="status-right d-flex align-items-center">
        <button @onclick="ToggleTheme" class="btn btn-sm py-0 px-1 btn-theme" title="theme toggler">
            <i class="bi @(isDarkMode ? "bi-brightness-high-fill" : "bi-moon-fill")"></i>
        </button>

        <button id="nav-terminal-toggle" @onclick="() => Layout?.ToggleTerminal()"
            class="btn btn-sm py-0 px-1 btn-terminal" title="toggle terminal">
            <i class="bi bi-terminal"></i>&nbsp;F10
        </button>

        <span class="d-none d-md-inline">
            <span class="d-none d-md-inline">
                <span id="clock" class="text-center text-light bg-dark w-75 p-1">@currentTime</span>
            </span>
        </span>
    </div>
</nav>

@code {
    [CascadingParameter]
    public MainLayout? Layout { get; set; }

    private System.Timers.Timer? _timer;
    private string currentTime = "[ 00:00:00 ]";
    private bool isDarkMode = true;

    protected override async Task OnInitializedAsync()
    {
        _timer = new System.Timers.Timer(1000);
        _timer.Elapsed += (sender, args) => OnTimerElapsed();
        _timer.Start();

        var theme = await JS.InvokeAsync<string>("vvg.theme.current");
        isDarkMode = theme == "dark";
        await JS.InvokeVoidAsync("vvg.updateGridColor", theme);
    }

    private void OnTimerElapsed()
    {
        currentTime = $"[ {DateTime.Now:HH:mm:ss} ]";
        InvokeAsync(StateHasChanged);
    }

    private async Task ToggleTheme()
    {
        var theme = await JS.InvokeAsync<string>("vvg.theme.toggle");
        isDarkMode = theme == "dark";
        await JS.InvokeVoidAsync("vvg.updateGridColor", theme);
    }

    public void Dispose()
    {
        _timer?.Dispose();
    }
}