// =================================================================================
// BLOG
// =================================================================================
//
// This file contains the styles specific to the blog section of the website.
// By keeping them in a separate file, we keep our codebase organized and modular.

.blog-filters {
    /**
     * The container for the blog filters.
     * We give it a background color and a border to make it stand out.
     */
    background-color: var(--card-bg);
    padding: 1rem;
    border: 1px solid var(--text);
    margin-bottom: 2rem;

    .card {
        /**
         * The card within the featured insights section has a special border color
         * to draw attention to it.
         */
        border-color: var(--accent);
    }
}

.pagination {
    /**
     * The pagination controls for the blog.
     * We style the page links to match the overall theme.
     */
    .page-item .page-link {
        background-color: var(--card-bg);
        border: 1px solid var(--text);
        color: var(--text);
        margin: 0 2px;
        border-radius: 0;

        &:hover {
            /**
             * On hover, we change the background and text color to provide feedback.
             */
            background-color: var(--accent);
            color: var(--text);
        }
    }

    .page-item.active .page-link {
        /**
         * The active page link has a different background and text color to indicate
         * the current page.
         */
        background-color: var(--accent);
        border-color: var(--accent);
        color: var(--text);
    }
}

.insight-tag {
    /**
     * The insight tags are clickable, so we change the cursor to a pointer.
     * On hover, we change the background and text color to provide feedback.
     */
    cursor: pointer;

    &:hover {
        background: var(--accent);
        color: var(--text);
    }
}