// =================================================================================
// CANVAS
// =================================================================================

#canvas-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    pointer-events: none;
    opacity: 0.4; /* Subtle enough to read text */
}
