// =================================================================================
// CANVAS
// =================================================================================

#canvas-container {
    // Fixed positioning ensures the canvas covers the entire viewport.
    position: fixed;
    
    // Positioning at 0,0 places the canvas in the top-left corner of the viewport.
    top: 0;
    left: 0;
    
    // Full width and height make sure the canvas spans the entire viewport.
    width: 100%;
    height: 100%;
    
    // Negative z-index ensures the canvas is behind other content.
    z-index: -1;
    
    // Prevents user interaction with the canvas, making it transparent to clicks and hovers.
    pointer-events: none;
    
    // Subtle opacity allows text underneath the canvas to be readable.
    opacity: 0.4; /* Adjusted for optimal readability */
}