// do not use this file directly, it is imported into main stylesheets
.terminal {
    font-family: 'IBM Plex Mono', monospace;
    padding: 15px;
    /*box-shadow: 0 0 10px #ffbb33;*/
}

.terminal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ffbb33;
    padding-bottom: 10px;
    margin-bottom: 15px;
}

.terminal-title {
    font-size: 1.5em;
    text-shadow: 0 0 5px #d9d9d9;
}

.service-tile {
    border: 1px solid #ffbb33;
    margin-bottom: 15px;
    padding: 15px;
    transition: all 0.3s ease-in-out;
}

.service-tile:hover {
    box-shadow: 0 0 15px #ffbb33;
    border-color: #131313;
}

.service-title {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 10px;
    text-shadow: 0 0 5px #ffbb33;
}

.service-description {
    margin-bottom: 10px;
}

.subservice-list {
    list-style-type: none;
    padding-left: 0;
}

.subservice-item {
    padding: 5px 0;
    border-bottom: 1px dashed #ffbb33;
}

.subservice-item:last-child {
    border-bottom: none;
}
